In [175]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml"
)

In [176]:
user_data = pd.read_sql('SELECT * FROM public.user_data', con=engine)

In [177]:
user_data

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

In [178]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    163205 non-null  int64
 1   gender     163205 non-null  int64
 2   age        163205 non-null  int64
 3   country    163205 non-null  object
 4   city       163205 non-null  object
 5   exp_group  163205 non-null  int64
 6   os         163205 non-null  object
 7   source     163205 non-null  object
dtypes: int64(4), object(4)
memory usage: 10.0+ MB

In [179]:
user_data.isna().sum()

user_id      0
gender       0
age          0
country      0
city         0
exp_group    0
os           0
source       0
dtype: int64

In [180]:
user_data.describe()

             user_id         gender            age      exp_group
count  163205.000000  163205.000000  163205.000000  163205.000000
mean    85070.371759       0.551331      27.195405       1.997598
std     48971.639950       0.497360      10.239158       1.413644
min       200.000000       0.000000      14.000000       0.000000
25%     41030.000000       0.000000      19.000000       1.000000
50%     85511.000000       1.000000      24.000000       2.000000
75%    127733.000000       1.000000      33.000000       3.000000
max    168552.000000       1.000000      95.000000       4.000000

In [181]:
post_text_df = pd.read_sql('SELECT * FROM public.post_text_df', con=engine)
post_text_df

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

In [182]:
post_text_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   post_id  7023 non-null   int64
 1   text     7023 non-null   object
 2   topic    7023 non-null   object
dtypes: int64(1), object(2)
memory usage: 164.7+ KB

In [183]:
post_text_df.isna().sum()

post_id    0
text       0
topic      0
dtype: int64

In [184]:
feed_data = pd.read_sql('SELECT * FROM public.feed_data ORDER BY "timestamp" limit 10', con=engine)
feed_data

            timestamp  user_id  post_id action  target
0 2021-10-01 06:01:40   115794     6330   view       0
1 2021-10-01 06:01:40    94081     5671   view       1
2 2021-10-01 06:01:40    66609     3270   view       1
3 2021-10-01 06:01:40   122594     4554   view       1
4 2021-10-01 06:01:40    22276     5717   view       1
5 2021-10-01 06:01:40    43965     5747   view       0
6 2021-10-01 06:01:40   163409     3558   view       0
7 2021-10-01 06:01:40    52958     3082   view       1
8 2021-10-01 06:01:40   108994     5258   view       0
9 2021-10-01 06:01:40    87173     6030   view       0

In [185]:
### Запрос для просмотра распределения таргетной переменной 
query_1 = """
SELECT target, COUNT(*) AS cnt
FROM public.feed_data
GROUP BY target;
"""

target_distribution = pd.read_sql(query_1, con=engine)
print(target_distribution)

   target       cnt
0       0  68686455
1       1   8206345

In [186]:
### Запрос для рассчета доли классов
query_2 = """
SELECT target,
    COUNT(*) * 100.0 / (SELECT COUNT(*) FROM public.feed_data) AS percentage
FROM public.feed_data
GROUP BY target;
"""

class_percentage = pd.read_sql(query_2, con=engine)
print(class_percentage)

   target  percentage
0       0   89.327551
1       1   10.672449

In [187]:
### ВСего количество записей в таблице
query_3 = """
SELECT COUNT(*) FROM public.feed_data;
"""

count = pd.read_sql(query_3, con=engine)
print(count)

      count
0  76892800

In [188]:
### Количество уникальных пользователей
engine = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)

query_4 = """
SELECT COUNT(DISTINCT user_id) AS unique_users
FROM public.feed_data;
"""

unique_users = pd.read_sql(query_4, con=engine)
print(unique_users)

   unique_users
0        163205

# Создание фичей #

## Таблица user_data ##

In [189]:
os_ohe = pd.get_dummies(user_data["os"], prefix="os", dummy_na=False, dtype=int)
source_ohe = pd.get_dummies(user_data["source"], prefix="source", dummy_na=False, dtype=int)
exp_group_ohe= pd.get_dummies(user_data["exp_group"], prefix="exp", dummy_na=False, dtype=int)
gender_ohe = pd.get_dummies(user_data["gender"], prefix="gender", dummy_na=False, dtype=int)

city_freq = user_data["city"].value_counts().to_dict()
country_freq = user_data["country"].value_counts().to_dict()

user_data["city_freq"] = user_data["city"].map(city_freq)
user_data["country_freq"] = user_data["country"].map(country_freq)

In [190]:
user_features = pd.concat(
    [
        user_data[["user_id","age","city_freq","country_freq"]],
        gender_ohe,
        os_ohe,
        source_ohe,
        exp_group_ohe
    ],
    axis=1
)

In [191]:
user_features

,user_id,age,city_freq,country_freq,gender_0,gender_1,os_Android,os_iOS,source_ads,source_organic,exp_0,exp_1,exp_2,exp_3,exp_4
0,200,34,20,143035,0,1,1,0,1,0,0,0,0,1,0
1,201,37,241,143035,1,0,1,0,1,0,1,0,0,0,0
2,202,17,434,143035,0,1,1,0,1,0,0,0,0,0,1
3,203,18,21874,143035,1,0,0,1,1,0,0,1,0,0,0
4,204,36,105,143035,1,0,1,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,36,569,143035,1,0,1,0,0,1,0,0,0,0,1
163201,168549,18,628,143035,1,0,1,0,0,1,0,0,1,0,0
163202,168550,41,1924,143035,0,1,1,0,0,1,0,0,0,0,1
163203,168551,38,21874,143035,1,0,0,1,0,1,0,0,0,1,0
163204,168552,16,93,143035,0,1,1,0,0,1,0,0,0,0,1

In [192]:
engine_1 = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)

TABLE_NAME = "arsenij_shmelev_gwh6987_features_lesson_22"


user_features.to_sql(
    TABLE_NAME,
    con=engine,
    if_exists="replace",
    index=False
)

205

## Таблица post_text_df ##

In [193]:
ohe_topic = pd.get_dummies(post_text_df['topic'], dummy_na=False, dtype=int)
post_features = pd.concat([
    post_text_df[["post_id","text"]],
    ohe_topic], axis=1
)

post_features.head()

,post_id,text,business,covid,entertainment,movie,politics,sport,tech
0,1,UK economy facing major risks\n\nThe UK manufa...,1,0,0,0,0,0,0
1,2,Aids and climate top Davos agenda\n\nClimate c...,1,0,0,0,0,0,0
2,3,Asian quake hits European shares\n\nShares in ...,1,0,0,0,0,0,0
3,4,India power shares jump on debut\n\nShares in ...,1,0,0,0,0,0,0
4,5,Lacroix label bought by US firm\n\nLuxury good...,1,0,0,0,0,0,0

In [194]:
post_features["text_len"] = post_features["text"].apply(lambda x: len(str(x).split()) if pd.notna(x) else 0)

In [195]:
post_features["unique_word_count"] = post_features["text"].apply(lambda x: len(set(str(x).split())) if pd.notna(x) else 0)
post_features.head()

,post_id,text,business,covid,entertainment,movie,politics,sport,tech,text_len,unique_word_count
0,1,UK economy facing major risks\n\nThe UK manufa...,1,0,0,0,0,0,0,324,197
1,2,Aids and climate top Davos agenda\n\nClimate c...,1,0,0,0,0,0,0,448,280
2,3,Asian quake hits European shares\n\nShares in ...,1,0,0,0,0,0,0,546,329
3,4,India power shares jump on debut\n\nShares in ...,1,0,0,0,0,0,0,173,113
4,5,Lacroix label bought by US firm\n\nLuxury good...,1,0,0,0,0,0,0,150,104

In [196]:
post_features["text_diversity"] = post_features.apply(lambda row: row["unique_word_count"]/row["text_len"]
                                                             if row["text_len"] > 0 else 0, axis=1)
post_features

,post_id,text,business,covid,entertainment,movie,politics,sport,tech,text_len,unique_word_count,text_diversity
0,1,UK economy facing major risks\n\nThe UK manufa...,1,0,0,0,0,0,0,324,197,0.608025
1,2,Aids and climate top Davos agenda\n\nClimate c...,1,0,0,0,0,0,0,448,280,0.625000
2,3,Asian quake hits European shares\n\nShares in ...,1,0,0,0,0,0,0,546,329,0.602564
3,4,India power shares jump on debut\n\nShares in ...,1,0,0,0,0,0,0,173,113,0.653179
4,5,Lacroix label bought by US firm\n\nLuxury good...,1,0,0,0,0,0,0,150,104,0.693333
...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,"OK, I would not normally watch a Farrelly brot...",0,0,0,1,0,0,0,159,108,0.679245
7019,7316,I give this movie 2 stars purely because of it...,0,0,0,1,0,0,0,150,111,0.740000
7020,7317,I cant believe this film was allowed to be mad...,0,0,0,1,0,0,0,111,89,0.801802
7021,7318,The version I saw of this film was the Blockbu...,0,0,0,1,0,0,0,140,97,0.692857
7022,7319,Piece of subtle art. Maybe a masterpiece. Doub...,0,0,0,1,0,0,0,125,92,0.736000

In [197]:
text = post_text_df["text"]
post_features = post_features.drop(columns=["text"])
post_features

,post_id,business,covid,entertainment,movie,politics,sport,tech,text_len,unique_word_count,text_diversity
0,1,1,0,0,0,0,0,0,324,197,0.608025
1,2,1,0,0,0,0,0,0,448,280,0.625000
2,3,1,0,0,0,0,0,0,546,329,0.602564
3,4,1,0,0,0,0,0,0,173,113,0.653179
4,5,1,0,0,0,0,0,0,150,104,0.693333
...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,0,0,0,1,0,0,0,159,108,0.679245
7019,7316,0,0,0,1,0,0,0,150,111,0.740000
7020,7317,0,0,0,1,0,0,0,111,89,0.801802
7021,7318,0,0,0,1,0,0,0,140,97,0.692857
7022,7319,0,0,0,1,0,0,0,125,92,0.736000

## Таблица feed_data ##

In [198]:
with engine.connect() as conn:
    conn.exec_driver_sql("ROLLBACK")

N = 1000000

q = f"""
SELECT "timestamp", user_id, post_id, target
FROM public.feed_data
WHERE action = 'view'
ORDER BY "timestamp" DESC
LIMIT {N}
"""

feed_data = pd.read_sql(q, con=engine, parse_dates=['timestamp'])

In [199]:
feed_data

                 timestamp  user_id  post_id  target
0      2021-12-29 23:51:06    71338     5079       0
1      2021-12-29 23:51:06    57667      712       0
2      2021-12-29 23:51:06   106841     2779       0
3      2021-12-29 23:51:06   147682     6676       0
4      2021-12-29 23:51:06   127278     6251       0
...                    ...      ...      ...     ...
999995 2021-12-28 18:17:11    53580     6598       0
999996 2021-12-28 18:17:11   116416     6814       0
999997 2021-12-28 18:17:11   101729     7187       0
999998 2021-12-28 18:17:11    60406     5270       0
999999 2021-12-28 18:17:11   143619      609       0

[1000000 rows x 4 columns]

In [200]:
feed_data["hour"] = feed_data["timestamp"].dt.hour
feed_data["weekday"] = feed_data["timestamp"].dt.weekday
feed_data["is_weekend"] = (feed_data["weekday"] >= 5).astype(int)

cutoff = feed_data["timestamp"].quantile(0.8)
train = feed_data[feed_data["timestamp"] < cutoff].copy()
test = feed_data[feed_data["timestamp"] >= cutoff].copy()

train_users = set(train["user_id"])
test = test[test["user_id"].isin(train_users)].copy()

In [201]:
post_stats = (train.groupby("post_id")
    .agg(post_views = ("target", "count"), 
         post_likes = ("target", "sum"))
            .reset_index()
             )

post_stats["post_ctr"] = post_stats["post_likes"] / post_stats["post_views"]
post_stats = post_stats.fillna(0)

user_stats = (train.groupby("user_id")
             .agg(user_views = ("target", "count"),
                  user_likes = ("target", "sum"))
             .reset_index())

user_stats["user_ctr"] = user_stats["user_likes"] / user_stats["user_views"]
user_stats = user_stats.fillna(0)

post_features = post_features.merge(post_stats, on="post_id", how="left")
user_features = user_features.merge(user_stats, on="user_id", how="left")

post_features[["post_views", "post_likes", "post_ctr"]] = post_features[["post_views", "post_likes", "post_ctr"]].fillna(0)
user_features[["user_views", "user_likes", "user_ctr"]] = user_features[["user_views", "user_likes", "user_ctr"]].fillna(0)



# train_with_topic = train.merge(
#     post_text_df[["post_id", "topic"]],
#     on="post_id",
#     how="left"
# )

# user_topic = (
#     train_with_topic
#     .groupby(["user_id", "topic"])
#     .agg(
#         user_topic_views=("target", "count"),
#         user_topic_likes=("target", "sum")
#     )
#     .reset_index()
# )

# user_topic["user_topic_ctr"] = user_topic["user_topic_likes"] / user_topic["user_topic_views"]
# user_topic = user_topic.fillna(0)

# topics = ["business", "covid", "entertainment", "movie", "politics", "sport", "tech"]
# for topic_col in topics:
#     tmp = user_topic[user_topic["topic"] == topic_col][["user_id", "user_topic_ctr"]]
#     tmp = tmp.rename(columns={"user_topic_ctr": f"user_topic_{topic_col}_ctr"})
    
#     user_features = user_features.merge(tmp, on="user_id", how="left")
#     user_features[f"user_topic_{topic_col}_ctr"] = user_features[f"user_topic_{topic_col}_ctr"].fillna(0)


# global_ctr = train["target"].mean()
# alpha = 10

# post_stats = (
#     train.groupby("post_id")
#     .agg(post_views = ("target", "count"), post_likes = ("target", "sum"))
#     .reset_index()
# )

# post_stats["post_ctr"] = (
#     (post_stats["post_likes"] + alpha * global_ctr) / (post_stats["post_views"] + alpha)
# )

# post_stats = post_stats.fillna(0)


# user_stats = (
#     train.groupby("user_id")
#     .agg(user_views=("target", "count"), user_likes=("target", "sum"))
#     .reset_index()
# )

# user_stats["user_ctr"] = (
#     (user_stats["user_likes"] + alpha * global_ctr) / (user_stats["user_views"] + alpha)
# )

# user_stats = user_stats.fillna(0)

# topics = user_topic["topic"].unique().tolist()

# new_cols = []

# for topic_col in topics:
#     tmp = (
#         user_topic[user_topic["topic"] == topic_col][["user_id", "user_topic_ctr"]]
#         .rename(columns={"user_topic_ctr": f"user_topic_{topic_col}_ctr"})
#     )

#     user_features = user_features.merge(tmp, on="user_id", how="left")
#     new_cols.append(f"user_topic_{topic_col}_ctr")

# user_features[new_cols] = user_features[new_cols].fillna(0.0)

In [202]:
engine_1 = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)

TABLE_NAME = "arsenij_shmelev_gwh6987_features_lesson_22"


user_features.to_sql(
    TABLE_NAME,
    con=engine,
    if_exists="replace",
    index=False
)

205

### Мерджим таблицы ###

In [203]:
train_full = (train
              .merge(user_features, on="user_id", how="left")
              .merge(post_features, on="post_id", how="left"))

test_full = (test
            .merge(user_features, on="user_id", how="left")
            .merge(post_features, on="post_id", how="left"))

In [204]:
train_full

,timestamp,user_id,post_id,target,hour,weekday,is_weekend,age,city_freq,country_freq,...,movie,politics,sport,tech,text_len,unique_word_count,text_diversity,post_views,post_likes,post_ctr
0,2021-12-29 19:12:38,98182,6325,0,19,2,0,21,574,143035,...,1,0,0,0,107,91,0.850467,88.0,11.0,0.125000
1,2021-12-29 19:12:38,91184,1678,0,19,2,0,48,90,143035,...,0,0,1,0,255,169,0.662745,269.0,34.0,0.126394
2,2021-12-29 19:12:38,70579,2555,0,19,2,0,14,14,8273,...,0,0,0,0,14,14,1.000000,83.0,9.0,0.108434
3,2021-12-29 19:12:38,84285,3207,0,19,2,0,21,309,143035,...,0,0,0,0,13,13,1.000000,95.0,11.0,0.115789
4,2021-12-29 19:12:38,19396,5357,0,19,2,0,22,180,143035,...,1,0,0,0,132,98,0.742424,84.0,8.0,0.095238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799979,2021-12-28 18:17:11,53580,6598,0,18,1,0,41,95,178,...,1,0,0,0,118,94,0.796610,78.0,7.0,0.089744
799980,2021-12-28 18:17:11,116416,6814,0,18,1,0,26,1323,143035,...,1,0,0,0,238,156,0.655462,196.0,24.0,0.122449
799981,2021-12-28 18:17:11,101729,7187,0,18,1,0,47,643,143035,...,1,0,0,0,159,117,0.735849,61.0,9.0,0.147541
799982,2021-12-28 18:17:11,60406,5270,0,18,1,0,28,1466,143035,...,1,0,0,0,91,62,0.681319,77.0,8.0,0.103896
799983,2021-12-28 18:17:11,143619,609,0,18,1,0,19,247,143035,...,0,0,0,0,533,278,0.521576,202.0,34.0,0.168317

In [205]:
test_full

,timestamp,user_id,post_id,target,hour,weekday,is_weekend,age,city_freq,country_freq,...,movie,politics,sport,tech,text_len,unique_word_count,text_diversity,post_views,post_likes,post_ctr
0,2021-12-29 23:33:53,46150,3649,0,23,2,0,22,360,3172,...,0,0,0,0,9,9,1.000000,73.0,14.0,0.191781
1,2021-12-29 23:33:53,164591,3081,0,23,2,0,30,113,143035,...,0,0,0,0,22,21,0.954545,249.0,45.0,0.180723
2,2021-12-29 23:33:53,60966,6959,0,23,2,0,14,169,8273,...,1,0,0,0,555,298,0.536937,90.0,11.0,0.122222
3,2021-12-29 23:33:53,3041,7054,0,23,2,0,23,7,143035,...,1,0,0,0,322,218,0.677019,69.0,9.0,0.130435
4,2021-12-29 23:33:53,95266,4048,0,23,2,0,15,618,143035,...,0,0,0,0,21,20,0.952381,78.0,11.0,0.141026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28363,2021-12-29 19:12:40,57080,1423,0,19,2,0,23,246,143035,...,0,0,1,0,129,91,0.705426,301.0,44.0,0.146179
28364,2021-12-29 19:12:40,126691,4096,0,19,2,0,17,330,143035,...,0,0,0,0,16,15,0.937500,180.0,29.0,0.161111
28365,2021-12-29 19:12:40,19568,6303,0,19,2,0,26,104,143035,...,1,0,0,0,123,86,0.699187,201.0,31.0,0.154229
28366,2021-12-29 19:12:40,113091,1682,0,19,2,0,20,21874,143035,...,0,0,1,0,302,181,0.599338,222.0,39.0,0.175676
28367,2021-12-29 19:12:40,153898,3969,0,19,2,0,25,628,143035,...,0,0,0,0,26,23,0.884615,200.0,29.0,0.145000

In [206]:
y_train = train_full["target"].astype(int)
y_test = test_full["target"].astype(int)

In [207]:
drop_cols = ["timestamp","user_id","post_id","target", "unique_word_count"]
X_train = train_full.drop(columns=[c for c in drop_cols if c in train_full.columns]).fillna(0)
X_test   = test_full.drop(columns=[c for c in drop_cols if c in test_full.columns]).fillna(0)

In [208]:
X_train.columns

Index(['hour', 'weekday', 'is_weekend', 'age', 'city_freq', 'country_freq',
       'gender_0', 'gender_1', 'os_Android', 'os_iOS', 'source_ads',
       'source_organic', 'exp_0', 'exp_1', 'exp_2', 'exp_3', 'exp_4',
       'user_views', 'user_likes', 'user_ctr', 'business', 'covid',
       'entertainment', 'movie', 'politics', 'sport', 'tech', 'text_len',
       'text_diversity', 'post_views', 'post_likes', 'post_ctr'],
      dtype='object')

In [209]:
from catboost import CatBoostClassifier

pos_rate = float(y_train.mean())
pos_w = (1 - pos_rate) / max(pos_rate, 1e-8)

model = CatBoostClassifier(
    iterations=3000,
    learning_rate=0.03,
    depth=6,
    loss_function='Logloss',
    eval_metric='AUC',
    class_weights=[1.0, pos_w],
    l2_leaf_reg=5,          
    random_seed=1,
    early_stopping_rounds=300,
    verbose=200
)


model.fit(X_train, y_train,
          eval_set=(X_test,  y_test))

0:	test: 0.5458745	best: 0.5458745 (0)	total: 89.5ms	remaining: 4m 28s
200:	test: 0.5895832	best: 0.5895832 (200)	total: 18.8s	remaining: 4m 22s
400:	test: 0.5947032	best: 0.5947153 (395)	total: 37.7s	remaining: 4m 4s
600:	test: 0.5940335	best: 0.5954759 (468)	total: 56.9s	remaining: 3m 47s
Stopped by overfitting detector  (300 iterations wait)

bestTest = 0.5954758516
bestIteration = 468

Shrink model to first 469 iterations.

In [210]:
y_pred = model.predict_proba(X_test)[:, 1]
y_pred

array([0.49920493, 0.31973176, 0.59418521, ..., 0.67648183, 0.71525214,
       0.66460612])

In [211]:
eval_df = pd.DataFrame({
    "user_id": test_full["user_id"].values,
    "target": y_test.values,
    "pred": y_pred
})

top5 = (eval_df.sort_values(['user_id', 'pred'], ascending=[True, False])
                .groupby('user_id', as_index=False)
                .head(5))

hitrate5 = top5.groupby('user_id')['target'].max().mean()
print("HitRate@5:", round(hitrate5, 4))

HitRate@5: 0.4513

In [212]:
model.save_model("catboost_model.cbm", format="cbm")

In [213]:
from_file = CatBoostClassifier() 

from_file.load_model("catboost_model.cbm")

from_file.predict(X_train)

array([0, 0, 1, ..., 1, 0, 1])