In [165]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@postgres.lab.karpov.courses:6432/startml"
)

In [166]:
user_data = pd.read_sql('SELECT * FROM public.user_data', con=engine)
user_data

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

In [86]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163205 entries, 0 to 163204
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    163205 non-null  int64
 1   gender     163205 non-null  int64
 2   age        163205 non-null  int64
 3   country    163205 non-null  object
 4   city       163205 non-null  object
 5   exp_group  163205 non-null  int64
 6   os         163205 non-null  object
 7   source     163205 non-null  object
dtypes: int64(4), object(4)
memory usage: 10.0+ MB

In [87]:
user_data.isna().sum()

user_id      0
gender       0
age          0
country      0
city         0
exp_group    0
os           0
source       0
dtype: int64

In [88]:
user_data.describe()

             user_id         gender            age      exp_group
count  163205.000000  163205.000000  163205.000000  163205.000000
mean    85070.371759       0.551331      27.195405       1.997598
std     48971.639950       0.497360      10.239158       1.413644
min       200.000000       0.000000      14.000000       0.000000
25%     41030.000000       0.000000      19.000000       1.000000
50%     85511.000000       1.000000      24.000000       2.000000
75%    127733.000000       1.000000      33.000000       3.000000
max    168552.000000       1.000000      95.000000       4.000000

In [167]:
engine = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)

post_text_df = pd.read_sql('SELECT * FROM public.post_text_df', con=engine)
post_text_df

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

In [90]:
post_text_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7023 entries, 0 to 7022
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   post_id  7023 non-null   int64
 1   text     7023 non-null   object
 2   topic    7023 non-null   object
dtypes: int64(1), object(2)
memory usage: 164.7+ KB

In [91]:
post_text_df.isna().sum()

post_id    0
text       0
topic      0
dtype: int64

In [92]:
feed_data = pd.read_sql('SELECT * FROM public.feed_data ORDER BY "timestamp" limit 10', con=engine)
feed_data

            timestamp  user_id  post_id action  target
0 2021-10-01 06:01:40     8663     3837   view       1
1 2021-10-01 06:01:40    29084     2845   view       1
2 2021-10-01 06:01:40     1859     1498   view       1
3 2021-10-01 06:01:40   129394     1126   view       1
4 2021-10-01 06:01:40    87173     6030   view       0
5 2021-10-01 06:01:40    80305      961   view       0
6 2021-10-01 06:01:40   136194     1205   view       1
7 2021-10-01 06:01:40    52958     3082   view       1
8 2021-10-01 06:01:40   149801     1875   view       0
9 2021-10-01 06:01:40    73455     2671   view       1

In [93]:
feed_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  10 non-null     datetime64[ns]
 1   user_id    10 non-null     int64
 2   post_id    10 non-null     int64
 3   action     10 non-null     object
 4   target     10 non-null     int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 532.0+ bytes

In [94]:
feed_data.isna().sum()

timestamp    0
user_id      0
post_id      0
action       0
target       0
dtype: int64

In [95]:
### Запрос для просмотра распределения таргетной переменной 
query_1 = """
SELECT target, COUNT(*) AS cnt
FROM public.feed_data
GROUP BY target;
"""

target_distribution = pd.read_sql(query_1, con=engine)
print(target_distribution)

   target       cnt
0       0  68686455
1       1   8206345

In [96]:
### Запрос для рассчета доли классов
query_2 = """
SELECT target,
    COUNT(*) * 100.0 / (SELECT COUNT(*) FROM public.feed_data) AS percentage
FROM public.feed_data
GROUP BY target;
"""

class_percentage = pd.read_sql(query_2, con=engine)
print(class_percentage)

   target  percentage
0       0   89.327551
1       1   10.672449

In [97]:
### Вcего количество записей в таблице
query_3 = """
SELECT COUNT(*) FROM public.feed_data;
"""

count = pd.read_sql(query_3, con=engine)
print(count)

      count
0  76892800

In [100]:
### Количество уникальных пользователей
engine = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
) # обновление подключения #

query_4 = """
SELECT COUNT(DISTINCT user_id) AS unique_users
FROM public.feed_data;
"""

unique_users = pd.read_sql(query_4, con=engine)
print(unique_users)

   unique_users
0        163205

# Создание фичей
## Таблица user_data

In [168]:
os_ohe = pd.get_dummies(user_data["os"], prefix = "os", dummy_na=False, dtype=int)
source_ohe = pd.get_dummies(user_data["source"], prefix="source", dummy_na=False, dtype=int)
exp_group_ohe= pd.get_dummies(user_data["exp_group"], prefix="exp", dummy_na=False, dtype=int)
gender_ohe = pd.get_dummies(user_data["gender"], prefix="gender", dummy_na=False, dtype=int)

city_freq = user_data["city"].value_counts().to_dict()
country_freq = user_data["country"].value_counts().to_dict()

user_data["city_freq"] = user_data["city"].map(city_freq)
user_data["country_freq"] = user_data["country"].map(country_freq)

In [169]:
user_features = pd.concat(
    [
        user_data[["user_id","age","city_freq","country_freq"]],
        gender_ohe,
        os_ohe,
        source_ohe,
        exp_group_ohe
    ],
    axis=1
)

user_features

,user_id,age,city_freq,country_freq,gender_0,gender_1,os_Android,os_iOS,source_ads,source_organic,exp_0,exp_1,exp_2,exp_3,exp_4
0,200,34,20,143035,0,1,1,0,1,0,0,0,0,1,0
1,201,37,241,143035,1,0,1,0,1,0,1,0,0,0,0
2,202,17,434,143035,0,1,1,0,1,0,0,0,0,0,1
3,203,18,21874,143035,1,0,0,1,1,0,0,1,0,0,0
4,204,36,105,143035,1,0,1,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,36,569,143035,1,0,1,0,0,1,0,0,0,0,1
163201,168549,18,628,143035,1,0,1,0,0,1,0,0,1,0,0
163202,168550,41,1924,143035,0,1,1,0,0,1,0,0,0,0,1
163203,168551,38,21874,143035,1,0,0,1,0,1,0,0,0,1,0
163204,168552,16,93,143035,0,1,1,0,0,1,0,0,0,0,1

In [170]:
engine_1 = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
) # обновление подключения, очень часто крашится

TABLE_NAME = "arsenij_shmelev_gwh6987_features_lesson_22"


user_features.to_sql(
    TABLE_NAME,
    con=engine,
    if_exists="replace",
    index=False
)

205

## Таблица post_text_df

1. Получаем CLS-эмбеддинги
2. Уменьшаем размерность с помощью PCA
3. Кластеризуем через KMeans
4. Новые фичи: номер кластера (TextCluster), расстояние до центра кластера (DistanceToCentre), РСА компоненты (bert_pca)

In [105]:
import torch
from torch.utils.data import Dataset, DataLoader
from tqdm.auto import tqdm
from transformers import AutoTokenizer, BertModel, RobertaModel, DistilBertModel
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np

In [171]:
def get_model(model_name: str):
    assert model_name in ['bert', 'roberta', 'distilbert']

    checkpoint_names = {
        'bert': 'bert-base-cased',
        'roberta': 'roberta-base',
        'distilbert': 'distilbert-base-cased'
    }
    model_classes = {
        'bert': BertModel,
        'roberta': RobertaModel,
        'distilbert': DistilBertModel
    }

    tok = AutoTokenizer.from_pretrained(checkpoint_names[model_name])
    mdl = model_classes[model_name].from_pretrained(checkpoint_names[model_name])
    return tok, mdl

### функция реализована так, потому что взял ее с прошлого задания на курсе, где нужно было делать
### повторяющиеся действия для каждой из 3 моделей

MODEL_NAME = 'roberta'
tokenizer, bert_model = get_model(MODEL_NAME)

Some weights of RobertaModel were not initialized from the model checkpoint at roberta-base and are newly initialized: ['pooler.dense.bias', 'pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [29]:
### максимальная длина поста
query_5 = """SELECT MAX(
         CASE 
           WHEN COALESCE(text, '') = '' THEN 0
           ELSE array_length(
                  regexp_split_to_array(trim(regexp_replace(text, '\s+', ' ', 'g')), ' '),
                  1
                )
         END
       ) AS max_words
FROM public.post_text_df"""

max_len = pd.read_sql(query_5, con=engine)
print(max_len)

<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_55/2434424887.py:6: SyntaxWarning: invalid escape sequence '\s'
  regexp_split_to_array(trim(regexp_replace(text, '\s+', ' ', 'g')), ' '),

   max_words
0       4432

In [143]:
lengths = []
for t in post_text_df["text"].fillna("").astype(str):
    ids = tokenizer(t, truncation=False)["input_ids"]
    lengths.append(len(ids))

import numpy as np
print("max tokens:", max(lengths))
for q in [0.5, 0.9, 0.95, 0.99]:
    print(q, int(np.quantile(lengths, q)))

Token indices sequence length is longer than the specified maximum sequence length for this model (567 > 512). Running this sequence through the model will result in indexing errors

max tokens: 5265
0.5 222
0.9 605
0.95 745
0.99 1074

In [172]:
class PostTextDataset(Dataset):
    def __init__(self, texts):
        self.texts = texts

    def __len__(self):
        return len(self.texts)

    def __getitem__(self, idx):
        return self.texts[idx]


def collate_texts(texts, tokenizer, max_length=512):
    return tokenizer(
        list(texts),
        padding=True,
        truncation=True,
        max_length=max_length,
        return_tensors="pt",
        return_token_type_ids=False
    )


@torch.inference_mode()
def get_cls_embeddings(model, loader, tokenizer, device, max_length=256):
    model.eval()
    out = []

    for batch_texts in tqdm(loader, desc="BERT embeddings"):
        batch = collate_texts(batch_texts, tokenizer, max_length=max_length)
        batch = {k: v.to(device) for k, v in batch.items()}

        emb = model(**batch).last_hidden_state[:, 0, :]
        out.append(emb.cpu())

    return torch.cat(out, dim=0)

In [173]:
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
print("device:", device)

bert_model = bert_model.to(device)

post_texts = post_text_df["text"].fillna("").astype(str).tolist()

ds = PostTextDataset(post_texts)
loader = DataLoader(ds, batch_size=32, shuffle=False, num_workers=0)

embeddings = get_cls_embeddings(bert_model, loader, tokenizer, device, max_length=256) \
    .numpy().astype(np.float32)

print("embeddings shape:", embeddings.shape)

device: cuda:0

BERT embeddings:   0%|          | 0/220 [00:00<?, ?it/s]

embeddings shape: (7023, 768)

In [174]:
pca_dim = 50
n_clusters = 15

centered = embeddings - embeddings.mean(axis=0, keepdims=True)

pca = PCA(n_components = pca_dim, random_state=0)
pca_decomp = pca.fit_transform(centered)

kmeans = KMeans(n_clusters=n_clusters, random_state=0, n_init=10).fit(pca_decomp)

bert_features = pd.DataFrame({"post_id": post_text_df["post_id"].values})
bert_features["TextCluster"] = kmeans.labels_.astype(int)

dists = kmeans.transform(pca_decomp)
dists_columns = [f"DistanceToCluster_{i}" for i in range(n_clusters)]
bert_features[dists_columns] = dists

pca_columns = [f"bert_pca_{i}" for i in range(pca_dim)]
bert_features[pca_columns] = pca_decomp

bert_features.head()

,post_id,TextCluster,DistanceToCluster_0,DistanceToCluster_1,DistanceToCluster_2,DistanceToCluster_3,DistanceToCluster_4,DistanceToCluster_5,DistanceToCluster_6,DistanceToCluster_7,...,bert_pca_40,bert_pca_41,bert_pca_42,bert_pca_43,bert_pca_44,bert_pca_45,bert_pca_46,bert_pca_47,bert_pca_48,bert_pca_49
0,1,6,1.143095,1.402499,0.987687,1.489823,0.876081,1.446289,0.524381,1.169647,...,-0.022388,-0.049334,-0.070979,0.022593,0.045492,-0.009167,-0.026999,-0.003831,-0.010756,-0.038743
1,2,6,0.915073,0.904685,0.647551,1.032722,0.463817,0.967600,0.453179,0.930826,...,-0.018312,-0.013000,-0.013275,0.010904,-0.031186,-0.016888,-0.004957,-0.050071,0.016978,-0.002396
2,3,4,1.286612,0.858140,0.991037,0.953238,0.572046,0.861328,0.973381,1.242859,...,-0.116518,-0.116980,-0.085994,0.069291,-0.059128,-0.005835,0.039313,0.022543,-0.081038,-0.017068
3,4,4,1.103931,0.958860,0.798951,1.041830,0.423040,0.970208,0.638338,1.090343,...,0.015189,0.042332,0.007541,0.053187,-0.083787,0.078546,0.004572,-0.020191,-0.111414,0.046311
4,5,4,1.057036,0.776664,0.746355,0.876426,0.377869,0.777514,0.715851,1.025188,...,-0.105391,-0.020930,-0.035527,0.056743,-0.027491,0.077571,0.029288,-0.010473,0.032860,-0.038245

In [175]:
df = post_text_df.merge(bert_features, on="post_id", how="left", validate="one_to_one")

df["TextCluster"] = df["TextCluster"].fillna(-1).astype(int)
cluster_ohe = pd.get_dummies(df["TextCluster"], prefix="text_cluster", dtype=int)

topic_ohe = pd.get_dummies(df["topic"], prefix="topic", dtype=int)

post_features = pd.concat(
    [
        df.drop(columns=["TextCluster", "topic"], errors="ignore"),  
        cluster_ohe,
        topic_ohe,
    ],
    axis=1
)

post_features.head()

,post_id,text,DistanceToCluster_0,DistanceToCluster_1,DistanceToCluster_2,DistanceToCluster_3,DistanceToCluster_4,DistanceToCluster_5,DistanceToCluster_6,DistanceToCluster_7,...,text_cluster_12,text_cluster_13,text_cluster_14,topic_business,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech
0,1,UK economy facing major risks\n\nThe UK manufa...,1.143095,1.402499,0.987687,1.489823,0.876081,1.446289,0.524381,1.169647,...,0,0,0,1,0,0,0,0,0,0
1,2,Aids and climate top Davos agenda\n\nClimate c...,0.915073,0.904685,0.647551,1.032722,0.463817,0.967600,0.453179,0.930826,...,0,0,0,1,0,0,0,0,0,0
2,3,Asian quake hits European shares\n\nShares in ...,1.286612,0.858140,0.991037,0.953238,0.572046,0.861328,0.973381,1.242859,...,0,0,0,1,0,0,0,0,0,0
3,4,India power shares jump on debut\n\nShares in ...,1.103931,0.958860,0.798951,1.041830,0.423040,0.970208,0.638338,1.090343,...,0,0,0,1,0,0,0,0,0,0
4,5,Lacroix label bought by US firm\n\nLuxury good...,1.057036,0.776664,0.746355,0.876426,0.377869,0.777514,0.715851,1.025188,...,0,0,0,1,0,0,0,0,0,0

In [176]:
post_features["text_len"] = post_features["text"].apply(lambda x: len(str(x).split()) if pd.notna(x) else 0)

In [177]:
post_features["unique_word_count"] = post_features["text"].apply(lambda x: len(set(str(x).split())) if pd.notna(x) else 0)

In [178]:
post_features["text_diversity"] = post_features.apply(lambda row: row["unique_word_count"]/row["text_len"]
                                                             if row["text_len"] > 0 else 0, axis=1)
post_features

,post_id,text,DistanceToCluster_0,DistanceToCluster_1,DistanceToCluster_2,DistanceToCluster_3,DistanceToCluster_4,DistanceToCluster_5,DistanceToCluster_6,DistanceToCluster_7,...,topic_business,topic_covid,topic_entertainment,topic_movie,topic_politics,topic_sport,topic_tech,text_len,unique_word_count,text_diversity
0,1,UK economy facing major risks\n\nThe UK manufa...,1.143095,1.402499,0.987687,1.489823,0.876081,1.446289,0.524381,1.169647,...,1,0,0,0,0,0,0,324,197,0.608025
1,2,Aids and climate top Davos agenda\n\nClimate c...,0.915073,0.904685,0.647551,1.032722,0.463817,0.967600,0.453179,0.930826,...,1,0,0,0,0,0,0,448,280,0.625000
2,3,Asian quake hits European shares\n\nShares in ...,1.286612,0.858140,0.991037,0.953238,0.572046,0.861328,0.973381,1.242859,...,1,0,0,0,0,0,0,546,329,0.602564
3,4,India power shares jump on debut\n\nShares in ...,1.103931,0.958860,0.798951,1.041830,0.423040,0.970208,0.638338,1.090343,...,1,0,0,0,0,0,0,173,113,0.653179
4,5,Lacroix label bought by US firm\n\nLuxury good...,1.057036,0.776664,0.746355,0.876426,0.377869,0.777514,0.715851,1.025188,...,1,0,0,0,0,0,0,150,104,0.693333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,"OK, I would not normally watch a Farrelly brot...",1.133488,0.567428,0.653011,0.451629,0.761483,0.467693,0.921552,1.125833,...,0,0,0,1,0,0,0,159,108,0.679245
7019,7316,I give this movie 2 stars purely because of it...,1.329900,0.568160,0.915520,0.391355,1.037024,0.542866,1.298925,1.320406,...,0,0,0,1,0,0,0,150,111,0.740000
7020,7317,I cant believe this film was allowed to be mad...,1.123106,0.578751,0.782961,0.395934,0.963751,0.582065,1.145696,1.124305,...,0,0,0,1,0,0,0,111,89,0.801802
7021,7318,The version I saw of this film was the Blockbu...,1.374880,0.520586,0.960754,0.489323,0.979453,0.393777,1.288714,1.345211,...,0,0,0,1,0,0,0,140,97,0.692857
7022,7319,Piece of subtle art. Maybe a masterpiece. Doub...,1.256078,0.634143,0.897159,0.797812,1.000926,0.679679,1.225213,1.253732,...,0,0,0,1,0,0,0,125,92,0.736000

In [179]:
post_features = post_features.drop(columns=["text"])

## Таблица feed_data

In [180]:
with engine.connect() as conn:
    conn.exec_driver_sql("ROLLBACK")

N = 1000000

q = f"""
SELECT "timestamp", user_id, post_id, target
FROM public.feed_data
WHERE action = 'view'
ORDER BY "timestamp" DESC
LIMIT {N}
"""

feed_data = pd.read_sql(q, con=engine, parse_dates=['timestamp'])

In [158]:
feed_data

                 timestamp  user_id  post_id  target
0      2021-12-29 23:51:06    91962     2834       0
1      2021-12-29 23:51:06    85056      540       0
2      2021-12-29 23:51:06   134078     3927       0
3      2021-12-29 23:51:06   161289      879       0
4      2021-12-29 23:51:06    13350     6119       0
...                    ...      ...      ...     ...
999995 2021-12-28 18:17:11    94706     5924       0
999996 2021-12-28 18:17:11    38895     1503       0
999997 2021-12-28 18:17:11   157226     1600       0
999998 2021-12-28 18:17:11    16093     1074       0
999999 2021-12-28 18:17:11   159606     5425       0

[1000000 rows x 4 columns]

In [181]:
feed_data["hour"] = feed_data["timestamp"].dt.hour
feed_data["weekday"] = feed_data["timestamp"].dt.weekday
feed_data["is_weekend"] = (feed_data["weekday"] >= 5).astype(int)

cutoff = feed_data["timestamp"].quantile(0.8)
train = feed_data[feed_data["timestamp"] < cutoff].copy()
test = feed_data[feed_data["timestamp"] >= cutoff].copy()

train_users = set(train["user_id"])
test = test[test["user_id"].isin(train_users)].copy()

In [182]:
post_stats = (train.groupby("post_id")
    .agg(post_views = ("target", "count"), 
         post_likes = ("target", "sum"))
            .reset_index()
             )

post_stats["post_ctr"] = post_stats["post_likes"] / post_stats["post_views"]
post_stats = post_stats.fillna(0)

user_stats = (train.groupby("user_id")
             .agg(user_views = ("target", "count"),
                  user_likes = ("target", "sum"))
             .reset_index())

user_stats["user_ctr"] = user_stats["user_likes"] / user_stats["user_views"]
user_stats = user_stats.fillna(0)

post_features = post_features.merge(post_stats, on="post_id", how="left")
user_features = user_features.merge(user_stats, on="user_id", how="left")

post_features[["post_views", "post_likes", "post_ctr"]] = post_features[["post_views", "post_likes", "post_ctr"]].fillna(0)
user_features[["user_views", "user_likes", "user_ctr"]] = user_features[["user_views", "user_likes", "user_ctr"]].fillna(0)

In [183]:
post_features

,post_id,DistanceToCluster_0,DistanceToCluster_1,DistanceToCluster_2,DistanceToCluster_3,DistanceToCluster_4,DistanceToCluster_5,DistanceToCluster_6,DistanceToCluster_7,DistanceToCluster_8,...,topic_movie,topic_politics,topic_sport,topic_tech,text_len,unique_word_count,text_diversity,post_views,post_likes,post_ctr
0,1,1.143095,1.402499,0.987687,1.489823,0.876081,1.446289,0.524381,1.169647,1.094583,...,0,0,0,0,324,197,0.608025,86.0,13.0,0.151163
1,2,0.915073,0.904685,0.647551,1.032722,0.463817,0.967600,0.453179,0.930826,0.628311,...,0,0,0,0,448,280,0.625000,72.0,10.0,0.138889
2,3,1.286612,0.858140,0.991037,0.953238,0.572046,0.861328,0.973381,1.242859,0.715981,...,0,0,0,0,546,329,0.602564,96.0,14.0,0.145833
3,4,1.103931,0.958860,0.798951,1.041830,0.423040,0.970208,0.638338,1.090343,0.753433,...,0,0,0,0,173,113,0.653179,99.0,18.0,0.181818
4,5,1.057036,0.776664,0.746355,0.876426,0.377869,0.777514,0.715851,1.025188,0.593092,...,0,0,0,0,150,104,0.693333,106.0,18.0,0.169811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,1.133488,0.567428,0.653011,0.451629,0.761483,0.467693,0.921552,1.125833,0.689496,...,1,0,0,0,159,108,0.679245,204.0,35.0,0.171569
7019,7316,1.329900,0.568160,0.915520,0.391355,1.037024,0.542866,1.298925,1.320406,0.968925,...,1,0,0,0,150,111,0.740000,59.0,8.0,0.135593
7020,7317,1.123106,0.578751,0.782961,0.395934,0.963751,0.582065,1.145696,1.124305,0.894101,...,1,0,0,0,111,89,0.801802,74.0,10.0,0.135135
7021,7318,1.374880,0.520586,0.960754,0.489323,0.979453,0.393777,1.288714,1.345211,0.911556,...,1,0,0,0,140,97,0.692857,85.0,17.0,0.200000
7022,7319,1.256078,0.634143,0.897159,0.797812,1.000926,0.679679,1.225213,1.253732,0.905785,...,1,0,0,0,125,92,0.736000,68.0,7.0,0.102941

In [184]:
user_features

,user_id,age,city_freq,country_freq,gender_0,gender_1,os_Android,os_iOS,source_ads,source_organic,exp_0,exp_1,exp_2,exp_3,exp_4,user_views,user_likes,user_ctr
0,200,34,20,143035,0,1,1,0,1,0,0,0,0,1,0,26.0,5.0,0.192308
1,201,37,241,143035,1,0,1,0,1,0,1,0,0,0,0,26.0,4.0,0.153846
2,202,17,434,143035,0,1,1,0,1,0,0,0,0,0,1,0.0,0.0,0.000000
3,203,18,21874,143035,1,0,0,1,1,0,0,1,0,0,0,0.0,0.0,0.000000
4,204,36,105,143035,1,0,1,0,1,0,0,0,0,1,0,28.0,5.0,0.178571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,36,569,143035,1,0,1,0,0,1,0,0,0,0,1,0.0,0.0,0.000000
163201,168549,18,628,143035,1,0,1,0,0,1,0,0,1,0,0,0.0,0.0,0.000000
163202,168550,41,1924,143035,0,1,1,0,0,1,0,0,0,0,1,0.0,0.0,0.000000
163203,168551,38,21874,143035,1,0,0,1,0,1,0,0,0,1,0,0.0,0.0,0.000000
163204,168552,16,93,143035,0,1,1,0,0,1,0,0,0,0,1,0.0,0.0,0.000000

In [199]:
engine = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)

TABLE_NAME = "arsenij_shmelev_gwh6987_features_lesson_22_user"


user_features.to_sql(
    TABLE_NAME,
    con=engine,
    if_exists="replace",
    index=False
)

205

In [200]:
TABLE_NAME = "arsenij_shmelev_gwh6987_features_lesson_22_post"

post_features.to_sql(
    TABLE_NAME,
    con=engine,
    if_exists="replace",
    index=False
)

83

# Мерджим таблицы

In [187]:
train_full = (train
              .merge(user_features, on="user_id", how="left")
              .merge(post_features, on="post_id", how="left"))

test_full = (test
            .merge(user_features, on="user_id", how="left")
            .merge(post_features, on="post_id", how="left"))

In [188]:
train_full

,timestamp,user_id,post_id,target,hour,weekday,is_weekend,age,city_freq,country_freq,...,topic_movie,topic_politics,topic_sport,topic_tech,text_len,unique_word_count,text_diversity,post_views,post_likes,post_ctr
0,2021-12-29 19:12:38,160529,4964,0,19,2,0,20,207,8273,...,1,0,0,0,119,92,0.773109,81.0,12.0,0.148148
1,2021-12-29 19:12:38,5784,1576,0,19,2,0,33,88,143035,...,0,0,1,0,131,101,0.770992,270.0,38.0,0.140741
2,2021-12-29 19:12:38,56908,662,0,19,2,0,18,20,1606,...,0,0,0,0,206,125,0.606796,108.0,12.0,0.111111
3,2021-12-29 19:12:38,70579,2555,0,19,2,0,14,14,8273,...,0,0,0,0,14,14,1.000000,83.0,9.0,0.108434
4,2021-12-29 19:12:38,153726,5577,0,19,2,0,19,391,143035,...,1,0,0,0,190,148,0.778947,95.0,11.0,0.115789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799979,2021-12-28 18:17:11,80927,2293,0,18,1,0,25,61,143035,...,0,0,0,1,327,198,0.605505,94.0,17.0,0.180851
799980,2021-12-28 18:17:11,152803,4487,0,18,1,0,46,101,8273,...,1,0,0,0,51,41,0.803922,75.0,6.0,0.080000
799981,2021-12-28 18:17:11,38895,1503,0,18,1,0,17,61,143035,...,0,0,1,0,203,143,0.704433,291.0,46.0,0.158076
799982,2021-12-28 18:17:11,150423,4461,0,18,1,0,23,117,1542,...,1,0,0,0,125,100,0.800000,219.0,34.0,0.155251
799983,2021-12-28 18:17:11,109616,3697,0,18,1,0,39,80,143035,...,0,0,0,0,17,15,0.882353,68.0,8.0,0.117647

In [189]:
test_full

,timestamp,user_id,post_id,target,hour,weekday,is_weekend,age,city_freq,country_freq,...,topic_movie,topic_politics,topic_sport,topic_tech,text_len,unique_word_count,text_diversity,post_views,post_likes,post_ctr
0,2021-12-29 23:33:53,81487,3463,0,23,2,0,19,20,143035,...,0,0,0,0,21,20,0.952381,94.0,16.0,0.170213
1,2021-12-29 23:33:53,74637,2430,0,23,2,0,33,386,143035,...,0,0,0,0,17,17,1.000000,140.0,13.0,0.092857
2,2021-12-29 23:33:53,110176,1140,0,23,2,0,35,95,143035,...,0,1,0,0,568,316,0.556338,249.0,41.0,0.164659
3,2021-12-29 23:33:53,23458,5353,0,23,2,0,25,1093,143035,...,1,0,0,0,349,201,0.575931,80.0,9.0,0.112500
4,2021-12-29 23:33:53,54140,2416,0,23,2,0,19,1541,143035,...,0,0,0,0,8,8,1.000000,70.0,6.0,0.085714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28363,2021-12-29 19:12:40,119891,1547,0,19,2,0,26,21,143035,...,0,0,1,0,205,142,0.692683,252.0,49.0,0.194444
28364,2021-12-29 19:12:40,12760,6186,0,19,2,0,18,21874,143035,...,1,0,0,0,411,262,0.637470,204.0,35.0,0.171569
28365,2021-12-29 19:12:40,39990,445,0,19,2,0,51,564,143035,...,0,0,0,0,317,209,0.659306,129.0,19.0,0.147287
28366,2021-12-29 19:12:40,153898,3969,0,19,2,0,25,628,143035,...,0,0,0,0,26,23,0.884615,200.0,29.0,0.145000
28367,2021-12-29 19:12:40,160701,4808,0,19,2,0,38,7,143035,...,1,0,0,0,181,116,0.640884,83.0,9.0,0.108434

In [190]:
y_train = train_full["target"].astype(int)
y_test = test_full["target"].astype(int)

In [191]:
drop_cols = ["timestamp","user_id","post_id","target", "unique_word_count"]
X_train = train_full.drop(columns=[c for c in drop_cols if c in train_full.columns]).fillna(0)
X_test   = test_full.drop(columns=[c for c in drop_cols if c in test_full.columns]).fillna(0)

In [192]:
print(list(X_train.columns))

['hour', 'weekday', 'is_weekend', 'age', 'city_freq', 'country_freq', 'gender_0', 'gender_1', 'os_Android', 'os_iOS', 'source_ads', 'source_organic', 'exp_0', 'exp_1', 'exp_2', 'exp_3', 'exp_4', 'user_views', 'user_likes', 'user_ctr', 'DistanceToCluster_0', 'DistanceToCluster_1', 'DistanceToCluster_2', 'DistanceToCluster_3', 'DistanceToCluster_4', 'DistanceToCluster_5', 'DistanceToCluster_6', 'DistanceToCluster_7', 'DistanceToCluster_8', 'DistanceToCluster_9', 'DistanceToCluster_10', 'DistanceToCluster_11', 'DistanceToCluster_12', 'DistanceToCluster_13', 'DistanceToCluster_14', 'bert_pca_0', 'bert_pca_1', 'bert_pca_2', 'bert_pca_3', 'bert_pca_4', 'bert_pca_5', 'bert_pca_6', 'bert_pca_7', 'bert_pca_8', 'bert_pca_9', 'bert_pca_10', 'bert_pca_11', 'bert_pca_12', 'bert_pca_13', 'bert_pca_14', 'bert_pca_15', 'bert_pca_16', 'bert_pca_17', 'bert_pca_18', 'bert_pca_19', 'bert_pca_20', 'bert_pca_21', 'bert_pca_22', 'bert_pca_23', 'bert_pca_24', 'bert_pca_25', 'bert_pca_26', 'bert_pca_27', 'bert_pca_28', 'bert_pca_29', 'bert_pca_30', 'bert_pca_31', 'bert_pca_32', 'bert_pca_33', 'bert_pca_34', 'bert_pca_35', 'bert_pca_36', 'bert_pca_37', 'bert_pca_38', 'bert_pca_39', 'bert_pca_40', 'bert_pca_41', 'bert_pca_42', 'bert_pca_43', 'bert_pca_44', 'bert_pca_45', 'bert_pca_46', 'bert_pca_47', 'bert_pca_48', 'bert_pca_49', 'text_cluster_0', 'text_cluster_1', 'text_cluster_2', 'text_cluster_3', 'text_cluster_4', 'text_cluster_5', 'text_cluster_6', 'text_cluster_7', 'text_cluster_8', 'text_cluster_9', 'text_cluster_10', 'text_cluster_11', 'text_cluster_12', 'text_cluster_13', 'text_cluster_14', 'topic_business', 'topic_covid', 'topic_entertainment', 'topic_movie', 'topic_politics', 'topic_sport', 'topic_tech', 'text_len', 'text_diversity', 'post_views', 'post_likes', 'post_ctr']

In [193]:
from catboost import CatBoostClassifier

pos_rate = float(y_train.mean())
pos_w = (1 - pos_rate) / max(pos_rate, 1e-8)

model = CatBoostClassifier(
    iterations=3000,
    learning_rate=0.03,
    depth=6,
    loss_function='Logloss',
    eval_metric='AUC',
    class_weights=[1.0, pos_w],
    l2_leaf_reg=5,          
    random_seed=1,
    early_stopping_rounds=300,
    verbose=200
)


model.fit(X_train, y_train,
          eval_set=(X_test,  y_test))

0:	test: 0.5345369	best: 0.5345369 (0)	total: 225ms	remaining: 11m 14s
200:	test: 0.5900743	best: 0.5900743 (200)	total: 30.8s	remaining: 7m 8s
400:	test: 0.5933205	best: 0.5934779 (394)	total: 1m	remaining: 6m 33s
600:	test: 0.5958935	best: 0.5958935 (600)	total: 1m 29s	remaining: 5m 56s
800:	test: 0.5969329	best: 0.5969329 (800)	total: 1m 58s	remaining: 5m 24s
1000:	test: 0.5973637	best: 0.5974399 (953)	total: 2m 26s	remaining: 4m 53s
1200:	test: 0.5977355	best: 0.5978655 (1194)	total: 2m 55s	remaining: 4m 22s
1400:	test: 0.5981701	best: 0.5981983 (1354)	total: 3m 23s	remaining: 3m 52s
1600:	test: 0.5979094	best: 0.5982532 (1506)	total: 3m 52s	remaining: 3m 23s
1800:	test: 0.5979843	best: 0.5982532 (1506)	total: 4m 21s	remaining: 2m 53s
Stopped by overfitting detector  (300 iterations wait)

bestTest = 0.5982532388
bestIteration = 1506

Shrink model to first 1507 iterations.

In [194]:
y_pred = model.predict_proba(X_test)[:, 1]
y_pred

array([0.44619878, 0.45796503, 0.30328615, ..., 0.65759178, 0.64544112,
       0.67405372])

In [195]:
eval_df = pd.DataFrame({
    "user_id": test_full["user_id"].values,
    "target": y_test.values,
    "pred": y_pred
})

top5 = (eval_df.sort_values(['user_id', 'pred'], ascending=[True, False])
                .groupby('user_id', as_index=False)
                .head(5))

hitrate5 = top5.groupby('user_id')['target'].max().mean()
print("HitRate@5:", round(hitrate5, 4))

HitRate@5: 0.4487

In [196]:
model.save_model("catboost_model.cbm", format="cbm")

In [197]:
from_file = CatBoostClassifier() 

from_file.load_model("catboost_model.cbm")

from_file.predict(X_train)

array([1, 0, 1, ..., 1, 1, 1])